<h3><img style="float:right" src= "/images/foto.jpg" height="180"  alt="Autor">   
<%= title %></h3>
<p> Paginas creadas por Javier Bordonada<p> 
<p> Correo Electrónico: javier.bordonada@gmail.com<p> 


